h1 {
	color: #ebdbb2;
	text-align: center;
}

body {
	background-color: #282828;
	color: #fe8019;
	text-align: center;
}

p {
	color: #d65d;

}
ul{
  text-align: center;
	display: inline-block;
  text-align: left;
}


.deez ul {
	padding-inline-start: 0;
}

.deez li {
	padding-inline-start: 0;
	text-align: center;
	display: inline-block;
	height: auto;
	width: auto;
}
.deez img {
	display: inline-block;
	stroke-opacity: 0;
	background-color: #fe801900;
	text-align: center;
}

.deez button {
	padding-right: 0%;
	padding-inline: 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: solid 1px #83a598;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	background-color: #fe801900;
	transition: all 100ms ease;
}

.deez button:hover {
	box-shadow: 0px 1px 30px 1px #83a59874;
	background-color: #83a5984f;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}